.top-level {
    height: 50%;
    width: 100%;
}

.left {
    float: left;
    height: 50%;
    width: 50%;
}

.right {
    float: right;
    height: 50%;
    width: 50%;
}

.component {
    display: flex;
    align-items: center;
    font: normal 1.5rem/normal "Montserrat", Times, sans-serif;
}

i {
    display: inline-block;
    padding: 3px;
    margin: 0 10px 0 25px;
}

i.up {
    border: solid green;
    border-width: 0 3px 3px 0;
}

i.down {
    border: solid red;
    border-width: 0 3px 3px 0;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#company {
    padding: 10px 10px;
    flex: 1;
}