.grid-stack-item-content {
    background: rgba(255,255,255,0.3);
}
.grid-stack .grid-stack-item[data-gs-width="4"] {
    width: 100%
}
.grid-stack .grid-stack-item[data-gs-width="3"] {
    width: 75%
}
.grid-stack .grid-stack-item[data-gs-width="2"] {
    width: 50%
}
.grid-stack .grid-stack-item[data-gs-width="1"] {
    width: 25%
}
.grid-stack .grid-stack-item[data-gs-x="3"] {
    left: 75%
}
.grid-stack .grid-stack-item[data-gs-x="2"] {
    left: 50%
}
.grid-stack .grid-stack-item[data-gs-x="1"] {
    left: 25%
}